[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2.12"
whitenoise = "*"
gunicorn = "*"
tweepy = "*"
dj-rest-auth = "~=2.2.3"
django-rest-authtoken = "*"
django-allauth = "*"
django-permissions = "*"
pillow = "*"
django-cors-headers = "~=3.11.0"
requests-oauthlib = "~=1.3.1"
requests = "~=2.27.1"
djangorestframework = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
