body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Chivo", sans-serif;
  font-weight: 400;
}

/* :root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
} */

.container {
  /* width: 800px; */

  /* background-color:#C0C0C0 ; */
  background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.home1,
.home2 {
  background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
}

.articleBtn {
  border-radius: 5px;
  padding: 5px 10px;
  border-width: medium;

  outline: none;
}

.btn {
  border-radius: 5px;
  padding: 5px 10px;
  border-width: medium;
  border-color: teal;
  outline: none;
}

.articleBtn {
  border: 2px solid green;
}

.articleBtn2 {
  border: 1px solid red;
  color: black;
  background-color: red;
  border-radius: 5px;
  padding: 5px 10px;
  border-width: medium;
}

.article-cards {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.answer-buttons {
  color: white;
  border: 3px solid aqua;
}

.btn:hover {
  border-color: white;
}

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}

.leaderboard {
  background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
}

.correct:focus {
  border-color: green;
}

.incorrect:focus {
  border-color: red;
}
/* .hide {
  display: none;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .leaderboard-table {
    display: flex;
    flex-direction: column;
  }
}

button.btn.correct {
  background: green;
}

button.btn.incorrect {
  background: red;
}

/* .modal-content {
  background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
} */

.modal-body {
  padding: 0 !important;
}
